html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    border-width: 0px;
}

.outPanelHeader {
    height: 4px;
    border-width: 0;
}

.inPanelBody {
    margin: 1px;
    height: 610px;
    overflow: auto;
}

.treePanel {
    margin: 1px;
    padding: 1px;
    height: 655px;
    overflow: hidden;
}

.treePanelBody {
    height: 650px;
    overflow: hidden;
}

.marketPanelBody {
    margin: 1px;
    padding: 1px;
    height: 290px;
    overflow: auto;
}

.runnerPanel {
    margin: 1px;
    height: 340px;
    overflow: hidden;
}

.runnerPanelBody {
    margin: 1px;
    height: 330px;
    overflow: auto;
}

.backCol {
    font-size: 11px;
    font-family: Verdana, Arial, sans-serif;
    background-color: #8080FF;
    text-align:right;
}

.layCol {
    font-size: 11px;
    font-family: Verdana, Arial, sans-serif;
    background-color: #FF80FF;
    text-align:right;
}

.statusRed {
    color:red;
}

.statusGreen {
    color:green;
}

.statusBlack {
    color:black;
}
