<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="richfaces-trader"
         version="3.0">

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <display-name>BIR Application (Rich Faces 4.5.x)</display-name>

    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>

    <context-param>
        <param-name>org.richfaces.CONTROL_SKINNING</param-name>
        <param-value>enable</param-value>
    </context-param>

    <context-param>
        <param-name>facelets.BUILD_BEFORE_RESTORE</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>

    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>

    <param-name>org.richfaces.enableControlSkinningClasses</param-name>
    <param-value>true</param-value>

    </context-param>

    <context-param>
        <param-name>org.richfaces.skin</param-name>
        <param-value>#{viewHelper.skin}</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_VIEW_MAPPINGS</param-name>
        <param-value>*.xhtml</param-value>
    </context-param>

    <context-param>
        <param-name>org.ajax4jsf.handleViewExpiredOnClient</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>org.richfaces.resourceOptimization.enabled</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Configures Push -->
    <context-param>
        <param-name>org.richfaces.push.initializeOnStartup</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.push.jms.enabled</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.push.session.maxInactiveInterval</param-name>
        <!-- interval in miliseconds; default value: 5 minutes -->
        <param-value>300000</param-value>
    </context-param>
    <context-param>
        <param-name>org.atmosphere.cpr.CometSupport.maxInactiveActivity</param-name>
        <param-value>35000</param-value>
    </context-param>


    <listener>
        <listener-class>net.bir.util.BIRApplicationContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Faces_Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Faces_Servlet Mapping -->

    <servlet-mapping>
        <servlet-name>Faces_Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces_Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces_Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>



    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
<!--
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
-->


    <!--
        <error-page>
            <error-code>500</error-code>
            <location>/error.jsp</location>
        </error-page>

        <error-page>
            <error-code>400</error-code>
            <location>/error.jsp</location>
        </error-page>

        <error-page>
            <error-code>401</error-code>
            <location>/error.jsp</location>
        </error-page>

        <error-page>
            <error-code>403</error-code>
            <location>/error.jsp</location>
        </error-page>

        <error-page>
            <error-code>405</error-code>
            <location>/error.jsp</location>
        </error-page>

        <error-page>
            <error-code>404</error-code>
            <location>/error.jsp</location>
        </error-page>
    -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>application common resources</web-resource-name>
            <url-pattern>/css/*</url-pattern>
            <url-pattern>/images/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>application generic rule</web-resource-name>
            <url-pattern>*.xhtml</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
            <http-method>HEAD</http-method>
            <http-method>DELETE</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint/>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>user area</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
            <http-method>HEAD</http-method>
            <http-method>DELETE</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>user profile area</web-resource-name>
            <url-pattern>/profile/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
            <http-method>HEAD</http-method>
            <http-method>DELETE</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <auth-method>DIGEST</auth-method>
        <realm-name>BIR24x7</realm-name>
    </login-config>
    <security-role>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
</web-app>