#parse("/WEB-INF/resources/include/meta/htmlDescriptor.vm")
<html>
<head>
	<link rel="stylesheet" type="text/css" href='$link.setRelative("css/main.css")'/>
	<link rel="stylesheet" type="text/css" href='$link.setRelative("css/help.css")'/>
	<script type="text/javascript" src='$link.setRelative("js/ua.js")'></script>
    #parse("/WEB-INF/resources/layout/globalJSObjects.vm")
	<script type="text/javascript" src='$link.setRelative("js/ftiens4.js")'></script>
	<script type="text/javascript">
    var currentContentHelpId = $helpTreeForm.currentContentHelpId;
    var currentHelpUrl = '$link.setForward("helpPage")?helpId='+currentContentHelpId+'&langId=${helpTreeForm.langId}';
    var HIGHLIGHT    = 1;
	var USETEXTLINKS = 1;
	var STARTALLOPEN = 0;
	var HIGHLIGHT_BG = '#A4C8DF';
    var ICONPATH     = sContextPath + '/images/tree/';
    foldersTree = gFld("", "");
	aux_${helpTreeForm.currentContentHelpId} = insFld(foldersTree,  gFld('$betext.get("help.titleContents")', currentHelpUrl ));
	#foreach($key in $helpTreeForm.helpKeys)
		#if ($key.level > 0)
			aux_${key.id} = insFld( aux_${key.parentId}, gFld('$key.name', '$link.setForward("helpPage")?helpId=${key.id}&langId=${helpTreeForm.langId}'));
		#else
			insDoc( aux_${key.parentId}, gLnk("R", '$key.name', '$link.setForward("helpPage")?helpId=${key.id}&langId=${helpTreeForm.langId}'));
		#end
	#end
     setTimeout('aux_${helpTreeForm.currentContentHelpId}.setState(true);', 10);
    </script>
</head>
<body style="background-color: #F9F9F9">
<script type="text/javascript">
	initializeDocument()
</script>
</body>
</html>