#parse("/WEB-INF/resources/include/meta/htmlDescriptor.vm")
<html>
<head>
	<title>$betext.get("regUser.new-user")</title>
    #parse("/WEB-INF/resources/include/meta/content-type.vm")
    <link rel='stylesheet' href='$link.setRelative("css/main.css")' type='text/css' >
    <link rel='stylesheet' href='$link.setRelative("css/basepage.css")' type='text/css' >
    <link rel='stylesheet' href='$link.setRelative("css/common.css")' type='text/css'>
    <link rel="stylesheet" type="text/css" media="all" href='$link.setRelative("calendar/aqua/theme.css")' title="Aqua"/>
    #parse("/WEB-INF/resources/layout/noscript.vm")
    #parse("/WEB-INF/resources/layout/globalJSObjects.vm")
    <script type="text/javascript" src='$link.setRelative("js/windows.js")'></script>
    <script type="text/javascript" src='$link.setRelative("js/utils.js")'></script>
    <script type="text/javascript" src='$link.setRelative("js/commonValidations.js")'></script>
    <script type="text/javascript" src='$link.setRelative("js/publicValidations.js")'></script>
    <script type="text/javascript" src='$link.setRelative("js/browserRendering.js")'></script>
    #set ($lang = "ru" )
    #if ($!logonForm && $!logonForm.language.name )
     #set ( $lang = $logonForm.language.name )
     <script type="text/javascript" src='$link.setRelative("calendar")/calendar.js'></script>
     <script type="text/javascript" src='$link.setRelative("calendar")/calendar-${lang}.js'></script>
     <script type="text/javascript" src='$link.setRelative("calendar")/calendar-setup.js'></script>
    #else
     <script type="text/javascript" src='$link.setRelative("calendar/calendar.js")'></script>
     <script type="text/javascript" src='$link.setRelative("calendar/calendar-${lang}.js")'></script>
     <script type="text/javascript" src='$link.setRelative("calendar/calendar-setup.js")'></script>
    #end
    <script type="text/javascript">
    var RulesWindow = null;
    var ssoURL      = null;
    var sNot18              = '$betext.get("regUser.youAreNot18")';
    var sInvalidBirthDay    = '$betext.get("regUser.invalidBirthDay")';
    var rulesURI            = '$link.setRelative("rules/rulesPopup.do")';

    var sSpacer = '$link.setRelative("images/login/spacer.gif")';
    var sSecretQuestionIdMustBeDifferent = '$betext.get("regUser.secretQuestionIdsMustBeDifferent")';
    var sAvailableURLAction ='$link.setForward("availabLeSsoUrlAction")';
    var sPictureTestFailsAlert = '$betext.get("errors.jcaptcha_error")';
    var sNoSSOAvailableAlert = '$betext.get("errors.NO_SSO_AVAILABLE")';

      function secretQuestionsAreDifferent(thisForm) {
       return ( thisForm.firstSecretQuestionId.value != null && thisForm.secondSecretQuestionId.value != null
                && thisForm.firstSecretQuestionId.value != thisForm.secondSecretQuestionId.value );
      }

    function continueSubmitWith(_ssoURL, _actionURI, _sessionId) {
        if (_ssoURL == null || _ssoURL == "" ) {
         alert(sNoSSOAvailableAlert);
         return;
        }

      if (_ssoURL == ssoURL) {
        var _form = document.forms.userForm;
        if (_form) {

            _form.action = _ssoURL + _actionURI;
            _form.actUrl.value = encodeURIComponent(_ssoURL);

            _form.password.value = encodeURIComponent(_form.password.value);
            _form.repeatPassword.value = encodeURIComponent(_form.repeatPassword.value);

            _form.sessionId.value = _sessionId;

            processOnClickForSubmit(_form.submitButton, true);
            _form.submit();

        }    
      } else {
        alert(sPictureTestFailsAlert);
        getPicture();   
      }
    }

    function getAvailableSubmitURL() {
        if (window.frames['uManager']) {
        window.frames['uManager'].location.replace(sAvailableURLAction + "?submitAction=$!userForm.registerAction");
      }
    }

    function getPicture() {
        if (window.frames['uManager']) {
         window.frames['uManager'].location.replace(sAvailableURLAction + "?submitAction=$!userForm.pictureAction");
      }
    }

      function  registerNewUser(thisForm) {
        if (thisForm == null) return;
        if (!validateUserForm(thisForm)) return;
          if (!secretQuestionsAreDifferent(thisForm)) {
            alert(sSecretQuestionIdMustBeDifferent)
            return;
          }
        getAvailableSubmitURL();
      }

     function openRulesWin() {
         RulesWindow = openAutoWin(rulesURI, RulesWindow);
     }

    function calendarSetup(){
        //debugger;
        var defaultDate = new Date();
        defaultDate.setFullYear(defaultDate.getFullYear() - 18);
        Calendar.setup(
        {inputField	   :	"b_date",			// id of the input field
            button	   :	"b_trigger",	 // trigger for the calendar (button ID)
            ifFormat   :	"%d-%m-%Y",			 // format of the input field  %H:%M
            showsTime  :	false,
            timeFormat :	"24",
            defaultDate: defaultDate,        // set calendar's date if bad formatted inputField
            align: "tr"}            // alignment ="vertical:top;horizontal:right"
        );
    }
            
    var newTs = 0;

    function loadPicture(_ssoURL, _actionURI) {

     ssoURL = _ssoURL;
        
     var captchaImage = document.getElementById("jcaptcha_image");
        if (captchaImage) {
          newTs++;
          captchaImage.src = ssoURL + _actionURI + "?ts="+ newTs;
        }
    }

     function doOnLoad() {
       initPopup();
       calendarSetup();
         if (document.userForm.lastName) {
             document.userForm.lastName.focus();
         }
       getPicture();
     }
    </script>
</head>
<body onload="doOnLoad();">
$validator.getJavascript()
<table cellspacing='1' cellpadding='0' border='0' width='100%' height='100%'>
    	<tr>
            <td id='area_top' align='center' width='100%' height='40px'>
                <table border='0' cellspacing='0' cellpadding='0' width='100%' height='100%'
                       class="table-top">
                    <tr>
                        <td width='165px'>
                            <table border='0' cellspacing='0' cellpadding='0' width='100%' height='100%'>
                                <tr>
                                    <td nowrap width='165px' class="table-top-version">
                                        $betext.get("top.logo1") $betext.get("login.version")
                                        $!application.getAttribute("version")
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="table-top-title" style="text-align:right; padding-right:10px;">
                            $betext.get("regUser.new-user")
                        </td>
                    </tr>
                </table>
            </td>
</tr>

	<tr>
	<td class='area-border-white' valign='middle' height='100%'>
		<div id='area_content' style="overflow:auto;width:100%;height:100%">
        <table bgcolor='#FFFFFF' width="90%" cellpadding='1' cellspacing='0' border="0" align='center'>

			<tr><td height="2px"><iframe name="uManager" id="uManager" width="0" height="0" marginwidth="0" marginheight="0" frameborder="0"  style="visibility:hidden;"></iframe></td></tr>

			<tr><td align="left">$betext.get("regUser.commonRegInstruction")</td></tr>

			<tr><td height="2px"></td></tr>

			<tr><td align="left">$betext.get("regUser.listOfNotes")</td></tr>

			<tr><td align="center" height="10px">$betext.get("regUser.requiredDataWarning")</td></tr>
			<tr>
				<td>
                <table bgcolor='#FFFFFF' width="100%" cellpadding='0' cellspacing='2' border="0" align='center'>
                <form name="userForm" method="POST" action=''>
                <input type='hidden' name='failedUri'   value='$userForm.encodedFailedUri'>
                <input type="hidden" name="succeedUri"  value='$userForm.encodedSucceedUri'>
                <input type="hidden" name="strLocale"   value="$userForm.locale.language">
                <input type="hidden" name="appName"     value="$userForm.appName">
                <input type="hidden" name="sessionId">
                <input type="hidden" name="actUrl">
                    <tr>
						<td align="right">$betext.get("regUser.last-name"):</td>
						<td align="left">&nbsp;<input tabindex="1" type="text" name="lastName" value="$!userForm.lastName" size="40" maxlength="40">&nbsp;#parse("/WEB-INF/resources/layout/required.vm")
						</td>
					</tr>
                    <tr>
                        <td width='40%' align="right">$betext.get("regUser.first-name"):</td>
                        <td width='60%' align="left">&nbsp;<input tabindex="2" type="text" name="firstName" value="$!userForm.firstName" size="40" maxlength="40">&nbsp;#parse("/WEB-INF/resources/layout/required.vm")
                        </td>
                    </tr>
                    <tr>
                        <td width='40%' align="right">$betext.get("regUser.middle-name"):</td>
                        <td width='60%' align="left">&nbsp;<input tabindex="3" type="text" name="middleName" value="$!userForm.middleName" size="40" maxlength="40"></td>
                    </tr>
					<tr>
						<td align="right">$betext.get("regUser.birthDay"):</td>
						<td align="left">
                            <table cellSpacing='0' cellPadding='0' border='0' >
                             <tr>
                              <td>&nbsp;<input tabindex="4" id="b_date" type="text" name="birthDateStr" value="$!userForm.birthDateStr" size="10" maxlength="10"></td>
                              <td>&nbsp;<img alt='$betext.get("gameResults.choose")' id="b_trigger" title='$betext.get("gameResults.choose")' src='$link.setRelative("images/icon_calendar.gif")'>&nbsp;#parse("/WEB-INF/resources/layout/required.vm")&nbsp;<font color="#ffa4a4" style="font-size:9px">1)</font></td>
                             </tr>
                           </table>
                        </td>
                    </tr>
					<tr>
						<td align="right">$betext.get("regUser.address"):</td>
						<td align="left">&nbsp;<input tabindex="5" type="text" name="address" value="$!userForm.address" size="50" maxlength="100"> <!--style="width:98%"-->
						</td>
					</tr>
					<tr>
						<td align="right">$betext.get("regUser.phone"):</td>
						<td align="left">&nbsp;<input tabindex="6" type="text" name="cellularPhone" value="$!userForm.cellularPhone" size="20" maxlength="20">
						</td>
					</tr>
					<tr>
						<td align="right">$betext.get("regUser.email"):</td>
						<td align="left">&nbsp;<input tabindex="7" type="text" name="email" value="$!userForm.email" size="40" maxlength="100">&nbsp;#parse("/WEB-INF/resources/layout/required.vm")
						</td>
					</tr>
					<tr>
						<td align="right">$betext.get("regUser.login"):</td>
						<td align="left">&nbsp;<input tabindex="8" type="text" name="login" value="$!userForm.login" size="25" maxlength="30">&nbsp;#parse("/WEB-INF/resources/layout/required.vm")&nbsp;<font color="#ffa4a4" style="font-size:9px">2)</font>
						</td>
					</tr>
					<tr>
						<td align="right">$betext.get("regUser.password"):</td>
						<td align="left">&nbsp;<input tabindex="9" type="password" name="password" size="25" maxlength="20">&nbsp;#parse("/WEB-INF/resources/layout/required.vm")&nbsp;<font color="#ffa4a4" style="font-size:9px">3)</font>
						</td>
					</tr>
					<tr>
						<td align="right">$betext.get("regUser.repeat-password"):</td>
						<td align="left">&nbsp;<input tabindex="10" type="password" name="repeatPassword" size="25" maxlength="20">&nbsp;#parse("/WEB-INF/resources/layout/required.vm")&nbsp;<font color="#ffa4a4" style="font-size:9px">3)</font>
						</td>
					</tr>

                    <tr>
						<td align="right">$betext.get("regUser.secretQuestion") 1:</td>
							<td align="left">&nbsp;<select  tabindex="11" id="firstSecretQuestionId" name="firstSecretQuestionId" style="width:60%">
								#foreach ($question in $userForm.secretQuestions )
								#if($question.value == $userForm.firstSecretQuestionId)
								<option selected value='$question.value'>$question.label</option>
								#else
								<option value='$question.value'>$question.label</option>
								#end
								#end
							</select>
						</td>
					</tr>
					<tr>
						<td align="right">$betext.get("regUser.secretAnswer") 1:</td>
						<td align="left">&nbsp;<input tabindex="12" type="text" name="firstSecretAnswer" value="$!userForm.firstSecretAnswer" size="30" maxlength="30">&nbsp;#parse("/WEB-INF/resources/layout/required.vm")
						</td>
					</tr>

                <tr>
                    <td align="right">$betext.get("regUser.secretQuestion") 2:</td>
                        <td align="left">&nbsp;<select  tabindex="13" id="secondSecretQuestionId" name="secondSecretQuestionId" style="width:60%" >
                            #foreach ($question in $userForm.secretQuestions )
                            #if($question.value == $userForm.secondSecretQuestionId)
                            <option selected value='$question.value'>$question.label</option>
                            #else
                            <option value='$question.value'>$question.label</option>
                            #end
                            #end
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right">$betext.get("regUser.secretAnswer") 2:</td>
                    <td align="left">&nbsp;<input tabindex="14" type="text" name="secondSecretAnswer" value="$!userForm.secondSecretAnswer" size="30" maxlength="30" >&nbsp;#parse("/WEB-INF/resources/layout/required.vm")
                    </td>
                </tr>
                    <tr>
						<td align="right">&nbsp;</td>
						<td align="left" >
                           <table cellSpacing='0' cellPadding='0' border='0' >
                           <tr>
                            <td>&nbsp;<img src='$link.setRelative("images/login/spacer.gif")' alt='' id='jcaptcha_image'/></td>
                            <td title='$betext.get("regUser.jcaptchaAltText")'>&nbsp;<a href='#' onclick='getPicture();'><b>$betext.get("regUser.cantsee")</b></a></td>
                            </tr>
                          </table>
                        </td>
					</tr>
					<tr>
						<td align="right">$betext.get("regUser.jcaptcha_prompt"):</td>
						<td align="left">&nbsp;<input tabindex="15" type="text" name="jcaptcha_response" size="30" maxlength="30"/>&nbsp;#parse("/WEB-INF/resources/layout/required.vm")</td>
					</tr>
					<tr>
						<td colspan="2" align="left" height="30px">$betext.get("regUser.rulesAcceptedAssertion")</td>
					</tr>
					<tr>
						<td align="right">&nbsp;</td>
						<td align="left">&nbsp;<input tabindex="16" type="button" name="submitButton" value='$betext.get("regUser.submit")' size="10" onClick="registerNewUser(this.form)"></td>
					</tr>
                    </form>
                  </table>
                </td>
			</tr>
			<tr>
				<td align="left">$betext.get("regUser.lastComments")</td>
			</tr>
		</table>
	  </div>
</td>
</tr>
<tr>
	<td id="area_bottom" class='area-border' width='100%' height='30px'>
		<table border='0' cellspacing='2' cellpadding='0' width='100%' height='100%'>
			<tr>
			<td>
				<input type="button" tabindex="17"
					value='$betext.get("currentRates.close")'
					title='$betext.get("currentRates.close")'
					onMouseOver='this.className="highlight"'
					onMouseOut='this.className=""'
					onClick='window.close();'>
			</td>
			</tr>
		</table>
	</td>
</tr>
</table>
#jsMessageMarkup()
</body>
</html>
