#parse("/WEB-INF/resources/include/meta/htmlDescriptor.vm")
<html>
<head>
<title>BetEx -- Account Statement Data</title>
 #parse("/WEB-INF/resources/include/meta/content-type.vm")
 <script type="text/javascript">
   var asRows = new Array();
   #if ( $!profileForm.accountStatementRows )

    #if ( $profileForm.accountStatementRows.size() > $profileForm.maxReportRows)
        alert('$betext.get("profile.maxReportRowsExceeded")');
    #end
    #set ($iMax = $profileForm.maxReportRows)
    #set ($i=0)
    #foreach ($asRow in $profileForm.accountStatementRows)
        #set ($i=$i+1)
        #if($i<$iMax) asRows[asRows.length] = '$asRow'; #end
    #end
   #end

   function dataOnLoad(_operationId, _dataRows) {
     parent.accountOperationId = _operationId;
     parent.makeHTMLContent(_dataRows);
   }

 </script>
</head>
 <body onload='dataOnLoad($profileForm.accountStatementId,asRows);'>
</body>
</html>